.about{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.3rem;
    /* font-weight: bold; */
    gap: 25px;
    text-align: center;
}

.about-header{
    display: flex;
    justify-content: center;
    /* max-width: 110rem; */

}

.about-text{
    text-align: left;
    max-width: 50%;
    margin: 0px 100px;
}

.about-text p span{
    color: #64ffda;
    font-weight: bold;
}

.about-img{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.about-img img{
    width: 100%; 
    max-width: 400px; 
    height: auto;
    display: inline-block;
}

.about-skills{
    /* display: flex;
    flex-direction: column; */
    width: 60%;
    font-size: 1.5rem;
}
.about-skills ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    gap: 20px;
    text-align: left;
}

/* .about-skills h1{
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    margin-bottom: 50px;
} */

.about-skills li::before{
    content: "▹";
    color: #64ffda;
}



@media screen and (max-width: 768px){
    .about{
        margin-top: 10%;
    }

    .about-header{
        flex-direction: column;
        gap: 50px;
    }

    .about-text{
        max-width: 80%;
        margin: 0px 25px;
    }

    .about-text h1{
        text-align: center;
    }

    .about-img img{
        max-width: 100%;
    }

    .about-skills{
        width: 100%;
        display: flex;
        justify-content: center;
        
    }

    .about-skills h1{
        font-size: 2rem;
    }

    .about-skills ul{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 50px;
        margin: 0px 20px;
    }

    .about-img {
        display: none; /* Hides the image container and image */
    }
    
}