.welcome {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 0.9rem; 
    gap: 18.75px; 
    margin-top: 150px;
    height: 88vh;
}

.welcome img {
    max-width: 20%;
    height: auto;
}

.welcome h1 {
    text-align: center;
    max-width: 82rem; 
    font-size: clamp(1.5rem, 3vw, 3rem); 
    font-weight: bold;
    margin: 0px 100px; 
}

.welcome p {
    text-align: center;
    max-width: 61rem; 
    font-size: 20px;
    line-height: 30px; 
    margin: 0px 150px; 
}

.welcome h1 span {
    color: #64ffda;
}

@media screen and (max-width: 768px) {
    .welcome img {
        min-width: 30%;
        height: auto; 
    }

    .welcome h1 {
        margin-top: 1.5rem; 
        width: 90%;
        font-size: 2.35rem; 
    }

    .welcome p {
        width: 70%; 
        font-size: 1.125rem; 
        line-height: 24px; 
        margin: 7.5px 0px; 
    }
}
